PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=tiktok_b24

REDIS_HOST=localhost
REDIS_PORT=6379

BITRIX_BASE_URL=http://localhost:4000
BITRIX_TOKEN=dummy

TIKTOK_WEBHOOK_SECRET=replace_me
